
/* colors */
.color-1 {
    background-color: #2a1a5e;
}

.color-2 {
    background-color: #f45905;
}

.color-3 {
    background-color: #d4cdc2;
}

.color-4 {
    background-color: #ffec7e;
}

.color-5 {
    background-color: #f3f3f3;
}

.t-color-3 {
    background-color: #d89e5f;
}

.t-color-5 {
    color: white;
}

/* moving stuff */
.result-stuff {
    margin: 80px;
    border-radius: 10px;
}

.meat-pizza {
    height: 200px;
    position: relative;
    bottom: 30px;
}

.veggie-pizza {
    height: 300px;
    position: relative;
    bottom: 80px;
    left: 30px;
}

.fa-frown {
    position: relative !important;
    left: 25px !important;
}

#vs {
    position: relative !important;
    top: 40px !important;
}

/* sorry i know its bad. Used in result.html */
#move-it-1 {
    position: relative !important;
    right: 300px;
}

#move-it-2 {
    position: relative !important;
    right: 170px;
}

#move-it-3 {
    margin: 20px;
}

#fix-it-2 {
    margin-left: 20px;
}